{%  extends 'LogopediaBundle:Default:base.html.twig' %}

{% block content %}

    {%  include 'LogopediaBundle:Default:menu.html.twig' %}

    <script>
        $(document).ready(function() {
            $('.tabs .tab-links a').on('click', function(e)  {
                var currentAttrValue = jQuery(this).attr('href');

                // Show/Hide Tabs
                $('.tabs ' + currentAttrValue).show().siblings().hide();

                // Change/remove current tab to active
                $(this).parent('li').addClass('active').siblings().removeClass('active');

                e.preventDefault();
            });

        });

    </script>
    <br>
    <br>

    <script>

    </script>
    <div id="zapytaj"><button type="button" id="zapytaj" name="zapytaj">Pobierz dane z ostatniego spotkania</button></div>
    <div class="section group">


        <div class="col span_3_of_4">
            <div class="tabs">
                <ul class="tab-links">
                    <li class="active"><a href="#artykulacja">Formularz artykulacji</a></li>
                    <li><a href="#zalecenia">Zalecenia</a></li>
                    <li><a href="#obrazki">Zestawy obrazków</a></li>

                </ul>

                <div class="tab-content">
                    <div id="artykulacja" class="tab active">



                        {%  include 'LogopediaBundle:Default:artykulacja.html.twig' %}
                    </div>

                    <div id="zalecenia" class="tab">

                        {% for spotkanie in spotkanie %}

                          {% if spotkanie.zalecenia %}

                              <div id="zal1"><i>Zalecenia do spotkania:</i></div>

                              {% include 'LogopediaBundle:Spotkanie:zalecenia.html.twig' %}

                            {% endif %}

                        {% if not spotkanie.zalecenia %}

                           <div id="zal2"><p><i>Niestety nie znaleziono zapisanych zaleceń</i><br></p></div>
                            <b>Proszę uzupełnić przed ostatecznym zatwierdzeniem spotkania</b><br>
                            {% include 'LogopediaBundle:Spotkanie:zalecenia.html.twig' %}

                        {% endif %}


                        {% endfor %}



                    </div>

                    <div id="obrazki" class="tab">
                        <i>Proszę odnotować oddanie zestawu poprzez usunięcie przypisanych!</i><br><br>
                        <div class="section group">

                            <div class="col span_1_of_2">
                                <b>Zestawy obrazków przypisane do spotkania:</b><br>
                                <i>Kliknij na link,aby usunąć przypisany zestaw</i><br>

                                {% for obrazek in obrazki %}


                                    <a href="{{ path('usun_przypisany',{'id_spotkania': app.request.get('id'), 'id_obrazka': obrazek.id}) }}"><br>{{ obrazek.nazwa }} - {{ obrazek.opis }}</a>

                                {% endfor %}
                            </div>
                            <div class="col span_1_of_2">
                                <b>Dostępne zestawy obrazków:</b><br>
                                <i>Kliknij na link, aby dodać dostępny zestaw</i><br>
                                {% for dostepny in dostepne %}

                                    <a href="{{ path('dodaj_dostepny',{'id_spotkania': app.request.get('id'), 'id_obrazka': dostepny.id}) }}"><br>{{ dostepny.nazwa }} - {{ dostepny.opis }}</a>



                                {% endfor %}

                            </div>



                        </div>




                    </div>

                </div>
            </div>
        </div>
        <div class="col span_1_of_4">
            <div class="tabs">
                <ul class="tab-links">
                    <li class="active"><a href="#tab2">Spotkanie</a></li>

                </ul>

                <div class="tab-content">
                    <div id="tab2" class="tab active">
                        {% for spotkanie in spotkanie %}

                        {{ spotkanie.pacjent.imie }}<br>

                        <b>{{ spotkanie.pacjent.nazwisko }}</b><br>

                        {% if spotkanie.done == 1 %}
                        <br>Status spotkania:<br> <b>Zakończone</b> <br>
                        {% endif %}

                        {% if spotkanie.done == 0 %}
                        <br>Status spotkania:<br> <b>Otwarte</b> <br>

                            <br><i>Gdy wypełniono wszystkie pola zakończ spotkanie</i>
                            <div id="wyslij"><button type="button" id="wyslij" name="wyslij">Zatwierdź spotkanie</button></div>
                        {% endif %}



                        {% endfor %}
                    </div>


                </div>
            </div>
        </div>
    </div>




{% endblock %}

