{%  extends 'LogopediaBundle:Default:base.html.twig' %}

{% block content %}

    {%  include 'LogopediaBundle:Default:menu.html.twig' %}
    <style>
        #feedback { font-size: 1.4em; }
        #selectable .ui-selecting { background: #FECA40; }
        #selectable .ui-selected { background: #F39814; color: white; }
        #selectable { list-style-type: none; margin: 0; padding: 0; width: 60%; }
        #selectable li { margin: 3px; padding: 0.4em; font-size: 1.4em; height: 18px; }
    </style>
    <script>
        $(document).ready(function() {
            $('.tabs .tab-links a').on('click', function(e)  {
                var currentAttrValue = jQuery(this).attr('href');

                // Show/Hide Tabs
                $('.tabs ' + currentAttrValue).show().siblings().hide();

                // Change/remove current tab to active
                $(this).parent('li').addClass('active').siblings().removeClass('active');

                e.preventDefault();
            });

        });

    </script>
    <br>
    <br>

    <script>

    </script>
    <div class="section group">


        <div class="col span_3_of_4">
            <div class="tabs">
                <ul class="tab-links">
                    <li class="active"><a href="#artykulacja">Formularz artykulacji</a></li>
                    <li><a href="#zalecenia">Zalecenia</a></li>
                    <li><a href="#obrazki">Zestawy obrazków</a></li>
                </ul>

                <div class="tab-content">
                    <div id="artykulacja" class="tab active">
                        {% for spotkanie in spotkanie %}
                            <tr>

                                <td>{{ spotkanie.pacjent.imie }} </td>

                                <td>{{ spotkanie.pacjent.nazwisko }}</td>

                                <td>{{ spotkanie.zalecenia }}</td>

                            </tr>

                        {% endfor %}
                        {%  include 'LogopediaBundle:Default:artykulacja.html.twig' %}
                    </div>

                    <div id="zalecenia" class="tab">



                    </div>

                    <div id="obrazki" class="tab">
                        <div class="section group">
                            <div class="col span_1_of_2">
                                <b>Zestawy obrazków przypisane do spotkania:</b>
                                {% for obrazek in obrazki %}
                                    <tr>

                                        <td>{{ obrazek.id }} </td>

                                        <td>{{ obrazek.nazwa }}</td>

                                        <td>{{ obrazek.opis }}</td>

                                    </tr>

                                {% endfor %}
                            </div>
                            <div class="col span_1_of_2">
                                <b>Dostępne zestawy obrazków:</b>
                                {% for dostepny in dostepne %}
                                    <tr>

                                        <td>{{ dostepny.id }} </td>

                                        <td>{{ dostepny.nazwa }}</td>

                                        <td>{{ dostepny.opis }}</td>

                                    </tr>

                                {% endfor %}

                            </div>



                        </div>




                    </div>
                </div>
            </div>
        </div>
        <div class="col span_1_of_4">
            <div class="tabs">
                <ul class="tab-links">
                    <li class="active"><a href="#tab2">Spotkanie</a></li>

                </ul>

                <div class="tab-content">
                    <div id="tab2" class="tab active">

                    </div>


                </div>
            </div>
        </div>
    </div>




{% endblock %}

