<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
<script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>

<link rel="stylesheet" href="{{ asset('bundles/logopedia/css/fullcalendar.min.css')}}" />


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/themes/sunny/jquery-ui.css">
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>

<script type="text/javascript" src="{{ asset('bundles/logopedia/js/moment.min.js') }}"></script>

<script type="text/javascript" src="{{ asset('bundles/logopedia/js/fullcalendar.min.js') }}"></script>

<script type="text/javascript" src="{{ asset('bundles/logopedia/js/lang-all.js') }}"></script>

<script type="text/javascript" src="{{ asset('bundles/logopedia/js/calendar-settings.js') }}"></script>

<div id="calendar-holder"></div>

<div id="eventContent" title="Szczegóły spotkania" style="display:none;">
    Od: <span id="startTime"></span><br>
    Do: <span id="endTime"></span><br><br>
    <p id="eventInfo"></p>
    <p><strong><a id="eventLink" href="" target="_blank">Read More</a></strong></p>
</div>