{%  extends 'LogopediaBundle:Default:base.html.twig' %}

{% block content %}

    {%  include 'LogopediaBundle:Default:menu.html.twig' %}

    <script>
        jQuery(document).ready(function() {
            jQuery('.tabs .tab-links a').on('click', function(e)  {
                var currentAttrValue = jQuery(this).attr('href');

                // Show/Hide Tabs
                jQuery('.tabs ' + currentAttrValue).show().siblings().hide();

                // Change/remove current tab to active
                jQuery(this).parent('li').addClass('active').siblings().removeClass('active');

                e.preventDefault();
            });
        });

    </script>
    <style>
        p {
            word-wrap: break-word;
            overflow: auto;
        }
    </style>
    <br>
    <br>

    <div class="section group">



        <div class="col span_3_of_4">

            <div class="tabs">

                {% for flashMessage in app.session.flashbag.get('notice') %}
                    <div class="flash-notice">{{ flashMessage }}</div>
                {% endfor %}

                <ul class="tab-links">
                    <li class="active"><a href="#diagnoza">Diagnoza</a></li>
                    <li><a href="#wywiad">Wywiad</a></li>
                    <li><a hreg="#spotkania">Spotkania</a></li>
                </ul>

                <div class="tab-content">

                            <div id="diagnoza" class="tab active">


                                {% if not diagnoza %}

                                    <i>Niestety nie wprowadzono jeszcze diagnozy dla tego pacjenta</i>

                                {%  else %}


                                    <h3>Diagnoza:</h3><br>
                                    <p>{{ diagnoza.tresc }}</p>

                                {% endif %}

                            </div>


                            <div id="wywiad" class="tab">

                               {% if not wywiad %}

                                <i>Niestety nie przeprowadzono jeszcze wywiadu z tym pacjentem</i>{% include 'LogopediaBundle:Default:wywiad.html.twig' %}

                                {%  else %}

                                {% include 'LogopediaBundle:Default:wywiad.html.twig' %}

                                {% endif %}

                            </div>
                </div>
            </div>
        </div>
        <div class="col span_1_of_4">
            <div class="tabs">
                <ul class="tab-links">
                    <li class="active"><a href="#tab1">Pacjent</a></li>

                </ul>

                <div class="tab-content">
                    <div id="tab1" class="tab active">
                        <div class="section group">

                            <div class="col span_1_of_3">
                                <b>Imie: </b>
                                </div>
                            <div class="col span_2_of_3">
                                    {{ pacjent.imie }}
                            </div>    <br>

                            <div class="section group">

                            <div class="col span_1_of_3">
                                <b>Nazwisko: </b>
                                </div>
                            <div class="col span_2_of_3">
                                    {{ pacjent.nazwisko }}
                            </div>    <br>

                            <div class="section group">
                                <div class="col span_1_of_3">
                                    <b>Adres: </b>
                                </div>
                                <div class="col span_2_of_3">
                                    {{ pacjent.adres }}<br>{{ pacjent.miejscowosc }}
                                </div>    <br>
                                <div class="section group">
                            <div class="col span_1_of_3">
                                <b>Telefon:</b>
                            </div>
                            <div class="col span_2_of_3">
                                {{ pacjent.telefon }}
                            </div>    <br>
                          </div>




                        </div>
                    </div>


                </div>
            </div>
        </div>

</div>




{% endblock %}

